.footer {
    background: rgb(20, 90, 230);
    text-align: center;
    margin-top: 20px;
  }
  
  .footer .share {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
   .btn{
      font-size:50px;
      color:white;
      padding: 10px;
  }
  
  .footer .credit {
    padding: 2.5rem 1rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .footer .credit span {
    color: red;
  }
 